#contact {
  background-color: #7aa1a8;
  margin-top: 10vh;
}

.contact-container {
  width: 80vw;
  margin: 5vh 0 5vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFF;

  h1 {
    font-size: 3rem;
    line-height: 20px;
  }

  h2 {
    font-size: 1.5rem;
    overflow: hidden;
    @include media("<lgphone") {
      display: none;
    }
    @include media(">=lgphone", "<tablet") {
      font-size: 14px;
    }
    @include media(">=tablet", "<desktop") {
      font-size: 1.2rem;
    }
  }

  .social-link {
    font-size: 1.5rem;
    @include media("<lgphone") {
      font-size: 1.1rem;
    }
  }

  .social-icons {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    .contact-icon {
      font-size: 3rem;
      margin-right: 15px;
    }

    .social-icon {
      color: #0053a1;
    }

    .map-icon {
      color: #ea4335;
    }

    .phone-icon {
      color: #148913;
    }

    a {
      color: #FFF;
      display: flex;
      align-items: center;
    }
  }
}
