@use "./include-media.scss" as *;

$link: rgba(0, 83, 161, 0.75);

.courses-section {
  width: 80vw;
  max-width: 960px;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  @include media(">=tablet", "<desktop") {
    align-items: center;
  }

  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1vw;
    justify-content: center;

    h2 {
      font-size: 2rem;
      line-height: 50px;
      text-align: center;
      @include media(">=tablet", "<desktop") {
        text-align: center;
      }
    }

    h3 {
      font-size: 1.2rem;
      text-align: center;
    }

    p {
      text-align: justify;
    }

    ul {
      list-style: none;
      padding-left: 0;
    }

    li {
      display: flex;
      margin-top: 40px;

      @include media("<tablet") {
        flex-direction: column-reverse;
      }
    }

    a {
      font-weight: bold;
      position: relative;
      overflow: hidden;
      text-decoration: none;
      color: $link;
      &::after {
        content: "";
        background: rgba($link, 0.05);
        position: absolute;
        left: 12px;
        bottom: -6px;
        width: calc(100% - 8px);
        height: calc(100% - 8px);
        z-index: -1;
        transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
      }
      &:hover:after {
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 100%;
        background: rgba($link, 0.25);
      }
    }
  }

  .text-wrapper {
    @include media(">=tablet") {
      flex: 60%;
      padding-left: 35px;
      padding-bottom: 35px;
    }
    @include media("<tablet") {
      text-align: center;
    }
    align-self: center;
  }

  .image-wrapper {
    @include media(">=tablet") {
      width: 12vw;
      height: 12vw;
      max-width: 200px;
      max-height: 200px;
    }
    @include media("<tablet") {
      flex: auto;
      @include media("portrait") {
        width: 33.33vw;
        height: 33.33vw;
      }
      @include media("landscape") {
        width: 33.33vh;
        height: 33.33vh;
      }
    }
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    display: flex;
    align-self: center;
  }
}
