.courses-section {
  width: 80vw;
  max-width: 960px;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  @include media(">=tablet", "<desktop") {
    align-items: center;
  }

  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1vw;
    justify-content: center;

    h1 {
      font-size: 2rem;
      line-height: 50px;
      text-align: center;
      @include media(">=tablet", "<desktop") {
        text-align: center;
      }
    }

    h2 {
      font-size: 1.2rem;
      text-align: center;
    }

    p {
      text-align: justify;
    }

    ul {
      list-style: none;
      padding-left: 0;
    }

    li {
      display: flex;
      margin-top: 40px;

      @include media("<tablet") {
        flex-direction: column-reverse;
      }
    }
  }

  .text-wrapper {
    @include media(">=tablet") {
      flex: 60%;
      padding-left: 35px;
      padding-bottom: 35px;
    }
    @include media("<tablet") {
      text-align: center;
    }
    align-self: center;
  }

  .image-wrapper {
    @include media(">=tablet") {
      width: 22vw;
      height: 22vw;
      max-width: 200px;
      max-height: 200px;
    }
    @include media("<tablet") {
      flex: auto;
      @include media("portrait") {
        width: 33.33vw;
        height: 33.33vw;
      }
      @include media("landscape") {
        width: 33.33vh;
        height: 33.33vh;
      }
    }
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    display: flex;
    align-self: center;
  }
}
