.footer-container {
  width: 80vw;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 3rem;
    line-height: 20px;
  }

  h2 {
    font-size: 1.5rem;
    overflow: hidden;
    @include media(">=phone", "<lgphone") {
      display: none;
    }
    @include media(">=lgphone", "<tablet") {
      font-size: 14px;
    }
    @include media(">=tablet", "<desktop") {
      font-size: 1.2rem;
    }
  }

  .social-link {
    font-size: 1.5rem;
    @include media(">=phone", "<lgphone") {
      font-size: 1.1rem;
    }
    color: black;
  }

  .social-icons {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    img {
      height: 2rem;
      margin: 10px;
    }

    .contact-icon {
      font-size: 3rem;
    }

    .social-icon {
      color: #0053a1;
    }

    .map-icon {
      color: #ea4335;
    }

    .phone-icon {
      color: #148913;
    }

    a {
      color: black;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
