.landingPageContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('../images/brussels.webp');
  background-size: cover;
}

.no-webp .landingPageContainer {
  background: url('../images/brussels.jpg');
}

.landing-wrapper {
  width: 90vw;
  margin-top: 5vh;
  margin-bottom: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: x-large;
    color: white;
    white-space: normal;
    line-height: 3rem;
    text-shadow: -1px 1px 2px #000,
    1px 1px 2px #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
  }

  .lngGrid {
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    @include media("<tablet", "portrait") {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.lngCard {
  overflow: hidden !important;
  display: flex;
  width: 25vw;
  height: 17vw;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @include media("<tablet", "portrait") {
    width: 50vw;
    height: 32vw;
  }

  .content {
    font-family: "Open Sans";
    text-align: center;
    padding: 10px;
    opacity: 1;
    transition: all 500ms ease-in-out;
    transform: translate(0, -5px);
    cursor: pointer;
    text-decoration: none;
    h2 {
      font-size: 30px;
      color: white;
      white-space: normal;
      line-height: 30px;
      text-shadow: -1px 1px 2px #000,
      1px 1px 2px #000,
      1px -1px 0 #000,
      -1px -1px 0 #000;
    }
    &:hover {
      transform: translate(0, 5px);
    }
    a {
      text-decoration: none;
    }
  }
}
