.navbar-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.background-container {
  $width: 100vw;
  $maxWidth: 1440px;
  $navBgRatio: 4.05;
  background-image: url("../images/nav-bg.jpg");
  background-size: cover;
  width: $width;
  height: ($width/$navBgRatio);
  max-width: $maxWidth;
  max-height: ($maxWidth/$navBgRatio);
  position: relative;
}

.logo-container {
  $width: 17%;
  $height: 50%;
  background-image: url("../images/logo.png");
  background-size: cover;
  // size
  width:  $width;
  height:  $height;

  // position
  position: absolute;
  bottom: -($height/2);
  left: 10%;
}
