.navbar-section {
  background-image: url("../images/nav-bg.jpg");
  width: 100vw;
  height: 25.2vw;
  overflow: hidden;
  @include media("<tablet", "portrait"){
    background-image: url("../images/nav-bg-narrow2.png");
    height: 80.0vw;
  }
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.navbar-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar-wrapper {
  @include media(">=phone", "<tablet") {
    width: 80vw;
  }
  @include media(">=tablet") {
    width: 70vw;
  }
  margin-top: auto;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: right;
  .name {
    font-weight: 600;
  }
  .links-wrapper {
    button {
      font-weight: bold;
      font-family: "Open Sans", serif;
      background-color: white;
      opacity: 0.7;
      &:hover{
        opacity: 0.8;
      }
    }
    .active {
      color: black;
    }
  }
}
