$link: rgba(0, 83, 161, 0.75);

.service-section {
  width: 80vw;
  max-width: 1200px;
  margin-top: 10vh;
  display: flex;
  justify-content: space-between;
  @include media("<desktop") {
    flex-direction: column-reverse;
    align-items: center;
  }
  .content {
    width: 40vw;
    padding: 1vw;
    @include media("<desktop") {
      width: 100%;
    }

    h1 {
      font-size: 2rem;
      //line-height: 50px;
      @include media("<desktop") {
        text-align: center;
      }
    }
    p {
      text-align: justify;
      li {
        font-weight: bold;
      }
    }
    a {
      font-weight: bold;
      position: relative;
      overflow: hidden;
      text-decoration: none;
      color: $link;
      &::after {
        content: "";
        background: rgba($link, 0.25);
        position: absolute;
        left: 12px;
        bottom: -6px;
        width: calc(100% - 8px);
        height: calc(100% - 8px);
        z-index: -1;
        transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
      }
      &:hover:after {
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 100%;
      }
    }
  }
  .image-wrapper {
    width: 35vw;
    height: 25vw;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    @include media("<lgphone") {
      width: 100%;
      height: 200px;
    }
    @include media(">=lgphone", "<tablet") {
      width: 100%;
      height: 300px;
    }
    @include media(">=tablet", "<desktop") {
      width: 100%;
      height: 400px;
    }
  }
}
