.card {
  width: 100%;
  @include media("<lgphone") {
    @include media("portrait") {
      width: 60vw;
      height: 40vw;
    }
    @include media("landscape") {
      width: 60vh;
      height: 40vh;
    }
  }
  @include media(">=lgphone", "<tablet") {
    @include media("portrait") {
      width: 45vw;
      height: 30vw;
    }
    @include media("landscape") {
      width: 45vh;
      height: 30vh;
    }
  }
  @include media(">=tablet") {
    width: 25vw;
    height: 15vw;
    max-width: 500px;
    max-height: 333px;
  }
  overflow: hidden !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .content {
    font-family: "Open Sans";
    text-align: center;
    padding: 10px;
    opacity: 0.8;
    transition: all 500ms ease-in-out;
    transform: translate(0, -5px);
    cursor: pointer;
    .explore {
      background-color: black;
      color: white;
      padding: 10px;
      text-decoration: none;
    }
    h1 {
      font-size: 2.5rem;
      @include media("<desktop") {
        font-size: 1.6rem;
      }
      color: white;
      white-space: normal;
      line-height: 30px;
    }
    p {
      font-size: 10px;
      color: white;
      margin-bottom: 20px;
    }
    &:hover {
      opacity: 1;
      transform: translate(0, 5px);
    }
  }
}


