@use "./include-media.scss" as *;

.tile {
  width: 100%;
  filter: opacity(70%);
  @include media("<phone") {
    @include media("portrait") {
      width: 60vw;
      height: 40vw;
    }
    @include media("landscape") {
      width: 60vh;
      height: 40vh;
    }
  }
  @include media(">=phone", "<tablet") {
    @include media("portrait") {
      width: 45vw;
      height: 30vw;
    }
    @include media("landscape") {
      width: 45vh;
      height: 30vh;
    }
  }
  @include media(">=tablet") {
    width: 19vw;
    height: 11vw;
    max-width: 500px;
    max-height: 333px;
  }
  overflow: hidden !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .content {
    font-family: "Open Sans";
    text-align: center;
    padding: 10px;
    transition: all 500ms ease-in-out;
    transform: translate(0, -5px);
    cursor: pointer;
    h2 {
      font-size: clamp(16px, 2vw, 40px);
      display: inline;
      @include media("<tablet", "portrait") {
        font-size: 5vw;
      }
      color: white;
      white-space: normal;
      line-height: 30px;
      text-shadow: -1px 1px 2px #000,
      1px 1px 2px #000,
      1px -1px 0 #000,
      -1px -1px 0 #000;
    }
    &:hover {
      transform: translate(0, 5px);
    }
  }
}


